<table>
 
 <tr><td></td>&nbsp;<td colspan = '1'; align = 'left'>Logit&nbsp; </td>&nbsp;<td colspan = '1'; align = 'left'>Probit&nbsp; </td>&nbsp;<td colspan = '1'; align = 'left'>OLS&nbsp; </td></tr>
 <tr><td></td><td colspan = '1'; align = 'left'>Estimate</td><td colspan = '1'; align = 'left'>Estimate</td><td colspan = '1'; align = 'left'>Estimate</td></tr>
 <tr><td></td><td colspan = '1'; align = 'left'>(S.E.)</td><td colspan = '1'; align = 'left'>(S.E.)</td><td colspan = '1'; align = 'left'>(S.E.)</td></tr>
 <tr><td style="border-bottom: solid thin black; border-collapse:collapse;"></td><td style="border-bottom: solid thin black; border-collapse:collapse;"></td><td style="border-bottom: solid thin black; border-collapse:collapse;"></td><td style="border-bottom: solid thin black; border-collapse:collapse;"></td></tr>
 <tr><td> (Intercept) </td><td> -1.112** </td><td> -0.703** </td><td> 0.260*** </td></tr>
 <tr><td></td><td>(0.373)</td><td>(0.218)</td><td>(0.059)</td></tr>
 <tr><td> as.factor(tipo_accidente)Accidente por MUSE </td><td> 0.215 </td><td> 0.116 </td><td> 0.029 </td></tr>
 <tr><td></td><td>(0.165)</td><td>(0.095)</td><td>(0.025)</td></tr>
 <tr><td> as.factor(year)2003 </td><td> 0.045 </td><td> 0.032 </td><td> 0.008 </td></tr>
 <tr><td></td><td>(0.130)</td><td>(0.076)</td><td>(0.021)</td></tr>
 <tr><td> as.factor(year)2004 </td><td> -0.001 </td><td> 0.002 </td><td> 0.000 </td></tr>
 <tr><td></td><td>(0.127)</td><td>(0.074)</td><td>(0.020)</td></tr>
 <tr><td> as.factor(year)2005 </td><td> 0.068 </td><td> 0.040 </td><td> 0.013 </td></tr>
 <tr><td></td><td>(0.120)</td><td>(0.070)</td><td>(0.019)</td></tr>
 <tr><td> as.factor(year)2006 </td><td> -0.190 </td><td> -0.107 </td><td> -0.031 </td></tr>
 <tr><td></td><td>(0.122)</td><td>(0.070)</td><td>(0.019)</td></tr>
 <tr><td> as.factor(year)2007 </td><td> -0.022 </td><td> -0.009 </td><td> -0.003 </td></tr>
 <tr><td></td><td>(0.125)</td><td>(0.073)</td><td>(0.020)</td></tr>
 <tr><td> as.factor(year)2008 </td><td> -0.078 </td><td> -0.045 </td><td> -0.015 </td></tr>
 <tr><td></td><td>(0.132)</td><td>(0.076)</td><td>(0.021)</td></tr>
 <tr><td> as.factor(year)2009 </td><td> -0.348* </td><td> -0.197* </td><td> -0.054* </td></tr>
 <tr><td></td><td>(0.140)</td><td>(0.079)</td><td>(0.021)</td></tr>
 <tr><td> as.factor(year)2010 </td><td> -1.075*** </td><td> -0.583*** </td><td> -0.130*** </td></tr>
 <tr><td></td><td>(0.170)</td><td>(0.090)</td><td>(0.022)</td></tr>
 <tr><td> as.factor(year)2011 </td><td> -0.307* </td><td> -0.171* </td><td> -0.049* </td></tr>
 <tr><td></td><td>(0.150)</td><td>(0.085)</td><td>(0.023)</td></tr>
 <tr><td> as.factor(year)2012 </td><td> -0.486** </td><td> -0.271** </td><td> -0.073** </td></tr>
 <tr><td></td><td>(0.156)</td><td>(0.088)</td><td>(0.023)</td></tr>
 <tr><td> as.factor(year)2013 </td><td> -0.922*** </td><td> -0.505*** </td><td> -0.124*** </td></tr>
 <tr><td></td><td>(0.191)</td><td>(0.103)</td><td>(0.025)</td></tr>
 <tr><td> as.factor(year)2014 </td><td> -0.652*** </td><td> -0.359*** </td><td> -0.095*** </td></tr>
 <tr><td></td><td>(0.197)</td><td>(0.109)</td><td>(0.028)</td></tr>
 <tr><td> as.factor(year)2015 </td><td> -0.815*** </td><td> -0.450*** </td><td> -0.114*** </td></tr>
 <tr><td></td><td>(0.234)</td><td>(0.126)</td><td>(0.031)</td></tr>
 <tr><td> as.factor(year)2016 </td><td> -0.511 </td><td> -0.281 </td><td> -0.078 </td></tr>
 <tr><td></td><td>(0.309)</td><td>(0.171)</td><td>(0.044)</td></tr>
 <tr><td> as.factor(year)2017 </td><td> -0.671 </td><td> -0.379 </td><td> -0.098 </td></tr>
 <tr><td></td><td>(0.421)</td><td>(0.227)</td><td>(0.055)</td></tr>
 <tr><td> as.factor(year)2018 </td><td> -1.257*** </td><td> -0.687*** </td><td> -0.159*** </td></tr>
 <tr><td></td><td>(0.314)</td><td>(0.161)</td><td>(0.036)</td></tr>
 <tr><td> as.factor(year)2019 </td><td> -1.751*** </td><td> -0.923*** </td><td> -0.216*** </td></tr>
 <tr><td></td><td>(0.416)</td><td>(0.211)</td><td>(0.046)</td></tr>
 <tr><td> as.factor(year)2020 </td><td> -0.775** </td><td> -0.416* </td><td> -0.119** </td></tr>
 <tr><td></td><td>(0.298)</td><td>(0.164)</td><td>(0.041)</td></tr>
 <tr><td> as.factor(month)2 </td><td> -0.182 </td><td> -0.100 </td><td> -0.027 </td></tr>
 <tr><td></td><td>(0.123)</td><td>(0.069)</td><td>(0.018)</td></tr>
 <tr><td> as.factor(month)3 </td><td> -0.158 </td><td> -0.089 </td><td> -0.023 </td></tr>
 <tr><td></td><td>(0.121)</td><td>(0.069)</td><td>(0.018)</td></tr>
 <tr><td> as.factor(month)4 </td><td> -0.088 </td><td> -0.049 </td><td> -0.013 </td></tr>
 <tr><td></td><td>(0.126)</td><td>(0.071)</td><td>(0.019)</td></tr>
 <tr><td> as.factor(month)5 </td><td> 0.152 </td><td> 0.089 </td><td> 0.025 </td></tr>
 <tr><td></td><td>(0.119)</td><td>(0.068)</td><td>(0.018)</td></tr>
 <tr><td> as.factor(month)6 </td><td> 0.120 </td><td> 0.073 </td><td> 0.020 </td></tr>
 <tr><td></td><td>(0.124)</td><td>(0.071)</td><td>(0.019)</td></tr>
 <tr><td> as.factor(month)7 </td><td> 0.031 </td><td> 0.018 </td><td> 0.004 </td></tr>
 <tr><td></td><td>(0.126)</td><td>(0.072)</td><td>(0.019)</td></tr>
 <tr><td> as.factor(month)8 </td><td> -0.057 </td><td> -0.027 </td><td> -0.008 </td></tr>
 <tr><td></td><td>(0.124)</td><td>(0.071)</td><td>(0.019)</td></tr>
 <tr><td> as.factor(month)9 </td><td> -0.226 </td><td> -0.122 </td><td> -0.033 </td></tr>
 <tr><td></td><td>(0.133)</td><td>(0.075)</td><td>(0.020)</td></tr>
 <tr><td> as.factor(month)10 </td><td> -0.179 </td><td> -0.097 </td><td> -0.026 </td></tr>
 <tr><td></td><td>(0.128)</td><td>(0.073)</td><td>(0.019)</td></tr>
 <tr><td> as.factor(month)11 </td><td> -0.084 </td><td> -0.043 </td><td> -0.013 </td></tr>
 <tr><td></td><td>(0.136)</td><td>(0.077)</td><td>(0.020)</td></tr>
 <tr><td> as.factor(month)12 </td><td> -0.174 </td><td> -0.088 </td><td> -0.026 </td></tr>
 <tr><td></td><td>(0.145)</td><td>(0.082)</td><td>(0.021)</td></tr>
 <tr><td> as.factor(condicion)Fuerza pública </td><td> 0.676** </td><td> 0.384** </td><td> 0.105** </td></tr>
 <tr><td></td><td>(0.226)</td><td>(0.132)</td><td>(0.036)</td></tr>
 <tr><td> as.factor(genero)Masculino </td><td> 0.266 </td><td> 0.147 </td><td> 0.036 </td></tr>
 <tr><td></td><td>(0.136)</td><td>(0.075)</td><td>(0.019)</td></tr>
 <tr><td> as.factor(genero)Sin Información </td><td> 0.888* </td><td> 0.523* </td><td> 0.168* </td></tr>
 <tr><td></td><td>(0.393)</td><td>(0.239)</td><td>(0.071)</td></tr>
 <tr><td> as.factor(actividad)Agricultura </td><td> -0.495 </td><td> -0.255 </td><td> -0.082 </td></tr>
 <tr><td></td><td>(0.368)</td><td>(0.214)</td><td>(0.058)</td></tr>
 <tr><td> as.factor(actividad)Área Despejada </td><td> -0.246 </td><td> -0.131 </td><td> -0.048 </td></tr>
 <tr><td></td><td>(0.431)</td><td>(0.251)</td><td>(0.068)</td></tr>
 <tr><td> as.factor(actividad)Caza, pesca </td><td> 0.246 </td><td> 0.163 </td><td> 0.044 </td></tr>
 <tr><td></td><td>(0.465)</td><td>(0.277)</td><td>(0.079)</td></tr>
 <tr><td> as.factor(actividad)Cuidado de animales </td><td> -0.834 </td><td> -0.443 </td><td> -0.117 </td></tr>
 <tr><td></td><td>(0.468)</td><td>(0.260)</td><td>(0.066)</td></tr>
 <tr><td> as.factor(actividad)Erradicación - PONAL </td><td> -1.014 </td><td> -0.557 </td><td> -0.158 </td></tr>
 <tr><td></td><td>(0.810)</td><td>(0.414)</td><td>(0.092)</td></tr>
 <tr><td> as.factor(actividad)Erradicacion de cultivos ilicitos </td><td> -0.840 </td><td> -0.408 </td><td> -0.093 </td></tr>
 <tr><td></td><td>(0.479)</td><td>(0.254)</td><td>(0.061)</td></tr>
 <tr><td> as.factor(actividad)Erradicador manual - PCI </td><td> -0.614 </td><td> -0.329 </td><td> -0.096 </td></tr>
 <tr><td></td><td>(0.364)</td><td>(0.210)</td><td>(0.057)</td></tr>
 <tr><td> as.factor(actividad)Fuerza pública </td><td> -0.977*** </td><td> -0.538*** </td><td> -0.162*** </td></tr>
 <tr><td></td><td>(0.242)</td><td>(0.144)</td><td>(0.040)</td></tr>
 <tr><td> as.factor(actividad)Jugando </td><td> -0.191 </td><td> -0.095 </td><td> -0.040 </td></tr>
 <tr><td></td><td>(0.419)</td><td>(0.243)</td><td>(0.066)</td></tr>
 <tr><td> as.factor(actividad)Labores de desminado </td><td> -0.493 </td><td> -0.264 </td><td> -0.096 </td></tr>
 <tr><td></td><td>(1.156)</td><td>(0.660)</td><td>(0.179)</td></tr>
 <tr><td> as.factor(actividad)Manipulación </td><td> -0.254 </td><td> -0.110 </td><td> -0.045 </td></tr>
 <tr><td></td><td>(0.400)</td><td>(0.234)</td><td>(0.064)</td></tr>
 <tr><td> as.factor(actividad)Mantenimiento de infraestructura </td><td> -0.681 </td><td> -0.340 </td><td> -0.101 </td></tr>
 <tr><td></td><td>(0.824)</td><td>(0.437)</td><td>(0.106)</td></tr>
 <tr><td> as.factor(actividad)Pasando, estando cerca </td><td> -0.201 </td><td> -0.092 </td><td> -0.040 </td></tr>
 <tr><td></td><td>(0.333)</td><td>(0.196)</td><td>(0.054)</td></tr>
 <tr><td> as.factor(actividad)Recogiendo comida, agua ó  madera </td><td> -0.035 </td><td> 0.003 </td><td> -0.019 </td></tr>
 <tr><td></td><td>(0.387)</td><td>(0.225)</td><td>(0.061)</td></tr>
 <tr><td> as.factor(actividad)Sin Información </td><td> -0.549 </td><td> -0.294 </td><td> -0.093 </td></tr>
 <tr><td></td><td>(0.320)</td><td>(0.190)</td><td>(0.053)</td></tr>
 <tr><td> as.factor(actividad)Trabajos de casa </td><td> -1.089 </td><td> -0.586 </td><td> -0.152* </td></tr>
 <tr><td></td><td>(0.572)</td><td>(0.309)</td><td>(0.076)</td></tr>
 <tr><td> as.factor(actividad)Transito por trocha atajo </td><td> -0.226 </td><td> -0.103 </td><td> -0.046 </td></tr>
 <tr><td></td><td>(0.494)</td><td>(0.284)</td><td>(0.077)</td></tr>
 <tr><td> as.factor(actividad)Transito por via usual </td><td> 0.000 </td><td> 0.020 </td><td> -0.014 </td></tr>
 <tr><td></td><td>(0.382)</td><td>(0.222)</td><td>(0.061)</td></tr>
 <tr><td> as.factor(actividad)Viajando </td><td> 1.360* </td><td> 0.866* </td><td> 0.319** </td></tr>
 <tr><td></td><td>(0.622)</td><td>(0.381)</td><td>(0.113)</td></tr>
 
 <tr><td style="border-bottom: solid thin black; border-collapse:collapse;"></td><td style="border-bottom: solid thin black; border-collapse:collapse;"></td><td style="border-bottom: solid thin black; border-collapse:collapse;"></td><td style="border-bottom: solid thin black; border-collapse:collapse;"></td></tr>
<tr><td>N</td><td colspan = '1'; align = 'left'>10527</td><td colspan = '1'; align = 'left'>10527</td><td colspan = '1'; align = 'left'>10527</td> </tr>
 <tr><td>RMSE</td><td></td> <td></td> <td>0.387</td></tr>
 <tr><td>R<sup>2</sup></td><td></td> <td></td> <td>0.025</td></tr>
 <tr><td>adj R<sup>2</sup></td><td></td> <td></td> <td>0.020</td></tr>
 <tr><td>Deviance</td><td>9901.200</td> <td>9902.753</td> <td></td></tr>
 <tr><td>&chi;<sup>2</sup> </td><td>   277.110***</td><td>   275.557***</td><td>  </tr>
 <tr  style="height:5px;"><td colspan='4' style="border-bottom:double thin black;">&nbsp;</td></tr>
 
 <tr>
<td colspan="4">* <it>p</it> &#8804;0.05** <it>p</it> &#8804;0.01*** <it>p</it> &#8804;0.001</tr>
 </table>
